<template>
    <span style={tagColor} class="slds-badge" onclick={handleBadgeClick}>
        <span class="slds-badge__icon slds-badge__icon_left">
            <span class="slds-icon_container">
                <lightning-icon alternative-text={icon} icon-name={icon} size="xx-small" title={label}></lightning-icon>
            </span>
        </span>
        <span style={labelColor}>{label}</span>
    </span>
</template>
